    body {
      background-color: blue;
    }
    p {
      color: black; font-size: 20px;
      background-color: white; border: 2px solid/*or you can say dotted*/ red;
      padding: 10px;/*Creates more space between the border and the text and also increases the size of the bordered box*/
      margin-left: 20px;
    }
    h1 {
      color: yellow; font-size: 20px; font-style: italic;
      background-color: black; border-radius: 15px;
    }
    h2 {
      color: red; font-style: italic;
      background-color: purple; border-radius: 15px;
    }
    li {
      color: orange; font-size: 20px;
      background-color: green; border-radius: 15px;
    }
    img {
      border-radius: 20px;
    }
    span {
    color: black; font-size: 20px;
          background-color: white; border: 2px solid/*or you can say dotted*/ red;
          padding: 10px;/*Creates more space between the border and the text and also increases the size of the bordered box*/
          margin: 20px;/*Can use margin-right and margin-left and margin-bottom and margin-top*/
    }
